.container{
    background-color: rgb(236, 236, 236);
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
}

.box{
    border: 2px solid rebeccapurple;
    background-color: rgb(231, 231, 193);
    margin: 10px 0px;
    padding: 8px;
}

#homepage-link{
    margin-left: 20px;
    font-size: 20px;
    padding: 2px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    text-align: center;
}

a{
    color:rgb(170, 0, 255);
}

a:hover{
    background-color: darkkhaki;
    color: red;
}

.box h2{
    margin: 8px 8px;
}

img{
    width: 600px;
}